<h1 class="title">Delete Ticker Info</h1>
<hr>
<%= form_tag(perform_info_deletion_companies_path) do %>
  <div class="row">
      <div class="large-4 columns">
        <%= text_field_tag :ticker %>
      </div>
  </div>
  <div class="row">
    <div class="large-4 columns padding-top-10">
      <%= text_field_tag :year, nil, placeholder: "Year" %>
    </div>
  </div>
  <div class="row">
      <div class="large-4 columns">
        <%= submit_tag 'Delete', class: 'button postfix alert', data: { confirm: "Are you sure you want to delete information for this ticker and year?" } %>
      </div>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <h1>Delete Peers database</h1>
    <hr>
  </div>
  <div class="large-4 pull-8 columns">
    <%= form_tag(delete_db_companies_path) do %>
      <%= submit_tag 'Delete Peers database', class: 'button postfix alert', data: { confirm: "Are you sure you want to delete companies database?" } %>
    <% end %>
  </div>
</div>
