<h1 class="main-title">Listing companies</h1>

<%= render 'form' %>
<br/>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.address %></td>
    <td><%= company.contact_email %></td>
    <td><%= link_to 'Show', company %></td>
    <td class="icon-column text-center"><%= link_to "<span data-icon='&#xe001;'></span>".html_safe, edit_company_path(company), class: 'btn-icon' %></td>
    <td class="icon-column text-center"><%= link_to "<span data-icon='&#xe000;'></span>".html_safe, company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-icon' %></td>
  </tr>
<% end %>
</table>

<%= paginate @companies %>

<br />
