<h1>Upload Log</h1>

<div class="form-container" id="forms-container">
  <%= form_tag(:audit_log, method: 'get', class: "main-form custom") do %>
    <div class="row">
      <div class="large-4 columns">
        <%= label_tag :user %> <%= select_tag :user, options_from_collection_for_select(@users, "id", "email"), {include_blank: true} %>
      </div>
      <div class="large-4 columns">
        <%= label_tag :ticker %> <%= select_tag :ticker_name, options_from_collection_for_select(@tickers, "id", "ticker"), {include_blank: true} %>
      </div>
      <div class="large-4 columns">
        Created date <%= text_field_tag(:date_since) %>
      </div>
      <div class="large-4 columns">
        to <%= text_field_tag(:date_to) %>

      </div>

    <% end %>
  </div>

  <div class="large-9 columns">
    <% @logs.each do |log| %>
      <div class="log-container">
        <%= content_tag :div, log.user.email, class: 'user' %>
        <%= content_tag :div, log.created_at, class: 'date' %>
        <div class="upload-type-container">
          <span>Document type:</span> 
          <%= content_tag :span, log.upload_type, class: 'upload-type' %>
        </div>
        <%= render 'layouts/upload_results', results: log.results %>
      </div>
      <hr>
    <% end %>
  </div>

  <%= paginate @logs %>
</div>
