<div class="row">
  <div class="large-12 columns">
    <h1>Upload Log</h1>
    <hr>
  </div>

  <div class="large-3 columns" id="forms-container">
    <%= form_tag(search_upload_log_path, method: 'get', remote: true, class: "main-form custom") do %>
        <%= label_tag :user %> <%= select_tag :user, options_from_collection_for_select(@users, "id", "email"), {include_blank: true} %>
        <%= label_tag :ticker %> <%= select_tag :ticker_name, options_from_collection_for_select(@tickers, "ticker", "ticker"), {include_blank: true} %>
        Created date <%= text_field_tag(:date_since) %>
        to <%= text_field_tag(:date_to) %>
        <button id="search-button" type="submit" class="button postfix success" name="display_search">Search</button>
    <% end %>
  </div>

  

  <div id="log-container" class="large-9 columns log-container">
    <!-- ajax -->
  </div>

</div>
