<% content_for :head do %>
  <script src="/assets/select2.min.js" type="text/javascript" ></script>
  <link rel="stylesheet" href="/assets/select2.custom.css">
  <%= javascript_include_tag "upload_log" %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <h1>Upload Log</h1>
    <hr>
  </div>

  <div class="large-3 columns" id="forms-container">
    <%= form_tag(export_companies_inventory_path(format: "xls")) do %>
      <%= submit_tag 'Companies Inventory', class: 'button postfix success margin-top-1em' %>
    <% end %>
    <%= form_tag(export_peers_inventory_path(format: "xls")) do %>
      <%= submit_tag 'Peers Inventory', class: 'button postfix success margin-top-1em' %>
    <% end %>
    <hr>
    <%= form_tag(search_upload_log_path, method: 'get', remote: true, class: "main-form custom") do %>
        <%= label_tag :user %>
        <%= select_tag :user, options_from_collection_for_select(@users, "id", "email"), {include_blank: true} %>

        <%= label_tag "Ticker" %>
        <%= select_tag "upload-log-ticker", options_from_collection_for_select(@tickers, "ticker", "ticker"), {include_blank: true, 'data-customforms' => "disabled"} %>
        <%= label_tag "Created date" %> <%= text_field_tag(:date_since) %>
        to <%= text_field_tag(:date_to) %>
        <button id="search-button" type="submit" class="button success" name="display_search">Search</button>
    <% end %>
  </div>

  

  <div id="log-container" class="large-9 columns log-container">
    <!-- ajax -->
  </div>

</div>
