
<!-- sidebar -->
<div class="span3">
  <!-- quick launch -->
  <div class="side-container quick-launch">
    <h2 class="title">Quick Launch</h2>
    <div class="content">
      <%= form_tag('/groups') do %>
        <p>Select peer group</p>
          <%= select_tag :group, options_from_collection_for_select(Group.all, "id", "name") %>
        <p>Select report</p>
        <%= select_tag :report, options_for_select(Constants::REPORTS) %>
        <a href="<%= new_group_path %>">Create new</a>
        <%= submit_tag "Select" %>
      <% end %>
    </div>
  </div>
  <!-- activity log -->
  <div class="side-container activity-log">
    <h2 class="title">Activity Log</h2>
    <div class="content">
      <ul class="documents-list">
        <li class="document"><a href="#">Document 01</a></li>
        <li class="document"><a href="#">Document 02</a></li>
        <li class="document"><a href="#">Document 03</a></li>
        <li class="document"><a href="#">Document 04</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- main form -->
<div class="span9">
  <%= form_tag('/executive_compensation', class: "main-form" ) do %>
    <legend>Executive compensation</legend>
    <div class="form-container" id="forms-container">      
      <div class="basic-group hidden">
        <div class="role-selector">
          <label>ROLE *</label>
          <%= select_tag :report, options_for_select(Constants::ROLES) %>
          <label>PAY RANK</label>
          <%= select_tag :report, options_for_select(Constants::ROLES) %>
        </div>
        <div class="filters">
          <!-- cash compensation -->
          <h3>cash compensation</h3>
          <%= select_tag :report, options_for_select(Constants::CRITERIA) %>
          <label>Less than ($)<input type="text"></label>
          <label>Greater than ($)<input type="text"></label>
          <!-- equity compensation -->          
          <h3>equity compensation</h3>
          <%= select_tag :report, options_for_select(Constants::CRITERIA) %>          
          <label>Less than ($)<input type="text"></label>
          <label>Greater than ($)<input type="text"></label>
          <!-- compensation arrangements -->
          <h3>compensation arrangements</h3>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <label class="half">ROLE *
            <select>
              <option>CEO</option>
              <option>CTO</option>
              <option>CFO</option>
            </select>
          </label>
          <label class="half">PAY RANK
            <select>
              <option>CEO</option>
              <option>CTO</option>
              <option>CFO</option>
            </select>
          </label>
        </div>
        <div class="filters">
          <!-- cash compensation -->
          <div class="item-form">
            <p class="label">cash compensation</p>
            <select>
              <option>Salary</option>
              <option>Salary</option>
              <option>Salary</option>
            </select>
            <input type="text" placeholder="Less than ($)">
            <input type="text" placeholder="Greater than ($)">
          </div>
          <!-- equity compensation -->
          <div class="item-form">
            <p class="label">equity compensation</p>
            <select>
              <option>Salary</option>
              <option>Salary</option>
              <option>Salary</option>
            </select>
            <input type="text" placeholder="Less than ($)">
            <input type="text" placeholder="Greater than ($)">
          </div>
          <!-- incentive plan compensation -->
          <div class="item-form">
            <p class="label">incentive plan compensation</p>
            <select>
              <option>Salary</option>
              <option>Salary</option>
              <option>Salary</option>
            </select>
            <input type="text" placeholder="Less than ($)">
            <input type="text" placeholder="Greater than ($)">
          </div>
          <!-- equity holdings -->
          <div class="item-form">
            <p class="label">equity holdings</p>
            <select>
              <option>Salary</option>
              <option>Salary</option>
              <option>Salary</option>
            </select>
            <input type="text" placeholder="Less than ($)">
            <input type="text" placeholder="Greater than ($)">
          </div>
          <!-- compensation arrangements -->
          <div class="item-form">
            <p class="label">compensation arrangements</p>
            <select>
              <option>Yes</option>
              <option>No</option>
              <option>N/A</option>
            </select>
          </div>
          <!-- reload options -->
          <div class="item-form">
            <p class="label">reload options</p>
            <select>
              <option>Yes</option>
              <option>No</option>
              <option>N/A</option>
            </select>
          </div>
          <!-- CEO tenure -->
          <div class="item-form">
            <p class="label">CEO tenure</p>
            <input type="text" placeholder="Less than (yrs)">
            <input type="text" placeholder="Greater than (yrs)">
          </div>
          <!-- other criteria -->
          <div class="item-form">
          <p class="label">other criteria</p>
          <label>Founder</label>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <label>Director</label>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <label>New hire</label>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <label>Transition period</label>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>          
          </div>
        </div>
      </div>

    </div>
    <a href="#" id="js-new-form">Add another role</a>

    <legend id="advanced-search">Advanced search</legend>

    <!-- advanced search -->
    <div class="advanced-search hidden">
      <!-- general criteria -->
      <div class="general-criteria">
        <h4>GENERAL CRITERIA</h4>
        <p>COMPANY</p>
        <div class="item-form">
          <p class="label">reload options</p>
          <select>
            <option>Yes</option>
            <option>No</option>
            <option>N/A</option>
          </select>
          <span>help</span>
        </div>
        <p>INDUSTRY</p>
        <div class="item-form">
          <p class="label">reload options</p>
          <select>
            <option>Yes</option>
            <option>No</option>
            <option>N/A</option>
          </select>
          <span>help</span>
        </div>
        <p>PROXY FILLING DATE</p>
        <div class="item-form">
          <p class="label">reload options</p>
          <select>
            <option>Yes</option>
            <option>No</option>
            <option>N/A</option>
          </select>
          <span>help</span>
        </div>
      </div>
      <!-- financials -->
      <h4>FINANCIALS</h4>
      <div class="general-criteria">
        <div class="item-form">
          <p class="label">income statement</p>
          <select>
            <option>Salary</option>
            <option>Salary</option>
            <option>Salary</option>
          </select>
          <input type="text" placeholder="Less than ($)">
          <input type="text" placeholder="Greater than ($)">
        </div>
      </div>
      <div class="item-form">
          <p class="label">Valuation</p>
          <select>
            <option>Salary</option>
            <option>Salary</option>
            <option>Salary</option>
          </select>
          <input type="text" placeholder="Less than ($)">
          <input type="text" placeholder="Greater than ($)">
      </div>
      <div class="item-form">
          <p class="label">stock price performance</p>
          <select>
            <option>Salary</option>
            <option>Salary</option>
            <option>Salary</option>
          </select>
          <input type="text" placeholder="Less than ($)">
          <input type="text" placeholder="Greater than ($)">
        </div>
      <div class="item-form">
          <p class="label">profitability</p>
          <select>
            <option>Salary</option>
            <option>Salary</option>
            <option>Salary</option>
          </select>
          <input type="text" placeholder="Less than ($)">
          <input type="text" placeholder="Greater than ($)">
        </div>
    </div>
    <hr>
    <button type="submit" class="btn right">Search</button>
  <% end %>
</div>