<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <% if user_signed_in? %>
          <%= link_to "Home", user_root_path(current_user), class: 'brand' %>
        <% end %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <% if user_signed_in? %>
        <li class="<%= request.fullpath == users_path ? 'active' : '' %>">
          <%= link_to('users', users_path, class: 'nav-link') if can? :manage, User %>
        </li>
        <li class="divider"></li>
        <li class="<%= request.fullpath == full_search_path ? 'active' : '' %>">
          <%= link_to('search', full_search_path, class: 'nav-link') if can? :perform, :full_search %>
        </li>
        <li class="divider"></li>
        <li class="<%= request.fullpath == groups_path ? 'active' : '' %>">        
          <%= link_to('peers', groups_path, class: 'nav-link') if can? :create, Group %>
        </li>
        <li class="divider"></li>
        <li class="<%= request.fullpath == companies_path ? 'active' : '' %>">
          <%= link_to('companies', companies_path, class: 'nav-link') if can? :manage, Company %>
        </li>
        <li class="divider"></li>
        <li class="<%= request.fullpath == file_upload_path ? 'active' : '' %>">   
          <%= link_to('file upload', file_upload_path, class: 'nav-link') if can? :upload, :file %>
        </li>
        <li class="divider"></li>
        <li class="<%= request.fullpath == audit_log_path ? 'active' : '' %>">        
          <%= link_to('upload log', audit_log_path, class: 'nav-link') if can? :audit, :upload_log %>
        </li>
      <% end %>
      <li class="divider"></li>
    </ul>


    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li>
        <a class="nav-link"><%= current_user.email %></a>
      </li>
      <li class="has-form">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: 'delete', class: 'button') %>
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>
        <% end %>
      </li>
    </ul>
  </section>
</nav>