<div class="container cf">
  <div class="left">
    <% if user_signed_in? %>
      <%= link_to "Home", user_root_path(current_user), class: 'brand' %>
    <% end %>
  </div>
  <div class="nav left">
    <% if user_signed_in? %>  
      <% if can? :manage, User %>
        <%= link_to('users', users_path, class: 'nav-link') %>
      <% end %>
      <%= link_to('search', full_search_path, class: 'nav-link') %>
      <% if can? :create, Group %>
        <%= link_to('peers', new_group_path, class: 'nav-link') %>
      <% end %>
      <% if can? :upload, :file %>
        <%= link_to 'single file upload', single_file_upload_path %>
      <% end %>
    <% end %>
  </div>
  <div class="right">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to('Logout', destroy_user_session_path, method: 'delete') %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </div>
</div>