<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation" class="form-error cf">
      <h2 class="left"><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul class="left">
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Group name', class: 'group-name inline-block' %>
    <%= f.text_field :tickers_tokens, id: 'tickers_tokens', "data-pre" => @group.tickers.map(&:attributes).to_json %>
    <%= f.submit 'Create group', class: 'group-create' %>
  </div>

<% end %>
