<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <%= render 'layouts/model_errors', errors: @group.errors %>
  <% end %>
  <div class="row">
    <div class="large-5 columns">
      <%= f.text_field :name, placeholder: 'Group name', class: 'group-name inline-block' %>
    </div>
    <div class="large-5 columns">
      <%= f.text_field :tickers_tokens, id: 'tickers_tokens', "data-pre" => @group.tickers.map(&:attributes).to_json %>
    </div>
    <div class="large-2 columns">
      <%= f.submit class: 'button postfix' %>
    </div>
  </div>

<% end %>
