<% if @company_peer %>
  <%= @company_peer.name %> (<%= @company_peer.ticker %>)
<% end %>

<h1>Primary Peers</h1>
<div id="primary-peers">
  <ul>
    <% @companies_peers["primaryPeers"].each{|primary| %>
      <li>
        <%= primary["peerName"] %>(<%= primary["peerTicker"] %>)
      </li>
    <% } %>    
  </ul>
</div>

<h1>Secondary Peers</h1>

<input type="radio" name="secondary_type" value="Normalized" checked="checked">Normalized</br>
<input type="radio" name="secondary_type" value="Unnormalized">Unnormalized
<div id="normalized">
  <h2>Normalized</h2>
  <ul>
    <% @companies_peers["normalized"].each{|secondary| %>
      <li>
        <%= secondary["secondPeerName"] %>(<%= secondary["secondPeer"] %>) <%= secondary["weight"] %>
        <ul>
          <% secondary["primaryPeersWeights"].each{|primary| %>
            <li>
              <%= primary["primaryPeerName"] %>(<%= primary["primaryPeer"] %>) <%= primary["weight"] %>
            </li>
          <% } %>
        </ul>
      </li>
    <% } %>    
  </ul>
</div>

<div id="unnormalized"  class="hidden">
  <h2>Unnormalized</h2>
  <ul>
    <% @companies_peers["unnormalized"].each{|secondary| %>
      <li>
        <%= secondary["secondPeerName"] %>(<%= secondary["secondPeer"] %>) <%= secondary["weight"] %>
        <ul>
          <% secondary["primaryPeersWeights"].each{|primary| %>
            <li>
              <%= primary["primaryPeerName"] %>(<%= primary["primaryPeer"] %>) <%= primary["weight"] %>
            </li>
          <% } %>
        </ul>
      </li>
    <% } %>    
  </ul>
</div>