<div id="ticker_list_form" >
  <h1>Ticker List Manual</h1>
  <hr>
  <%= form_tag(peers_peers_ticker_list_result_path) do %>
    <div class="field">
      <%= text_field_tag :company_peer_tickers_manual, nil, placeholder: "Space separated tickers" %>
      <%= submit_tag 'Search', class: 'button success' %>
    </div>
  <% end %>
</div>

<div id="single_ticker_form">
  <h1>Target Company Ticker</h1>
  <hr>
  <%= form_tag(peers_peers_single_ticker_result_path) do %>
    <div class="field">
      <%= text_field_tag :company_peer_ticker, nil, class: "company-peer-ticker" %>
      <%= submit_tag 'Search', class: 'button success margin-top-1em' %>
    </div>
  <% end %>
</div>