<div class="large-3 columns">
  <!-- activity log -->
  <div class="recent-search-container">
    <h2 class="title">Recent Searches</h2>

    <div class="recent-search-item">
      <p class="username">username</p>
      <p class="report">Report type</p>
      <button class="small button">View</button>
    </div>

    <!-- <div class="content">
      <% unless @searches.blank? %>
        <ul class="documents-list">
          <% @searches.each{ |s| %>
            <li class="document">
              <a href="<%= recent_search_path(s) %>">
                <%= s.user.email + s.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </a>
            </li>
          <% } %>
        </ul>
      <% end %>
    </div> -->
  </div>
</div>

<div class="large-9 columns">
  <!-- quick launch -->
  <div class="side-container quick-launch">
    <h2 class="title">Quick Launch</h2>
    <div class="content">
      <form class="custom">
        <div class="row">
          <div class="small-12">
            <%= form_tag('/groups') do %>
              <div class="row ">
                <div class="large-12 columns">
                  <label for="right-label">Select peer group</label>
                  <%= select_tag :group, options_from_collection_for_select(groups, "id", "name") %>
                </div>
              </div>
              <div class="row ">
                <div class="small-12 columns">
                  <label for="right-label">Select report</label>
                  <%= select_tag :report, options_for_select(Constants::REPORT_TYPES) %>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div class="left">
                    <%= submit_tag "Select", class: 'small button success' %>
                  </div>
                  <div class="left">
                    <span>| or </span>
                    <%= link_to('Create new peer group', groups_path) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>