<div class="large-3 columns">
  <!-- activity log -->
  <div class="recent-search-container">
    <h2 class="title">Recent Searches</h2>
    <% unless @searches.blank? %>
      <% @searches.each{ |s| %>
        <div class="recent-search-item">
          <p class="username"><%= s.user.email %></p>
          <p class="report"><%= s.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
          <p class="report"><%= s.report_type %></p>
          <a href="<%= recent_search_path(s) %>" class="small button">View</a>
        </div>
      <% } %>
    <% end %>
  </div>
</div>

<div class="large-9 columns">
  <!-- quick launch -->
  <div class="side-container quick-launch">
    <h2 class="title">Quick Launch</h2>
    <div class="content">
      <%= form_tag(group_search_path, class: "custom") do %>
        <div class="row">
          <div class="small-12">
              <div class="row ">
                <div class="large-12 columns">
                  <label for="right-label">Select peer group</label>
                  <%= select_tag :group, options_from_collection_for_select(groups, "id", "name") %>
                </div>
              </div>
              <div class="row ">
                <div class="small-12 columns">
                  <label for="right-label">Select report</label>
                  <%= select_tag :report, options_for_select(Constants::REPORT_TYPES) %>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div class="left">
                    <%= submit_tag "Select", class: 'small button success' %>
                  </div>
                  <div class="left">
                    <span> or </span>
                    <%= link_to('Create new peer group', groups_path) %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>