<div class="row">
  <div class="large-12 columns">
    <h1>Quick Launch</h1>
    <hr>
  </div>

  <div class="large-3 columns">
    <!-- activity log -->
    <div class="recent-search-container">
      <h2 class="title">Recent Searches</h2>
      <div id="forms-container">
        <%= form_tag(filter_recent_search_path, method: 'get', remote: true, class: "main-form custom") do %>
          <% unless current_user.is_client? %>
            <%= label_tag "User" %> <%= select_tag :user, options_from_collection_for_select(@users, "id", "email"), {include_blank: true} %>
          <% end %> <%# Client users cannot search by user. The results are his company's searches %>
            <%= label_tag "Results" %> <%= select_tag :results, options_for_select([5, 15, 25, 50]), {include_blank: true} %>
            <button type="submit" class="button postfix success" name="display_search">Search</button>
        <% end %>
      </div>
      <div id="recent-search-results">
                
      </div>
    </div>
  </div>

  <div class="large-9 columns">
    <!-- quick launch -->
    <%= form_tag(group_search_path, class: "custom") do %>
      <div class="row">
        <div class="large-3 columns">
          <label for="right-label" class="text-uppercase inline">Select peer group</label>
        </div>
        <div class="large-9 columns">
          <%= select_tag :group, options_from_collection_for_select(groups, "id", "name") %>
        </div>
        <div class="large-3 columns">
          <label for="right-label" class="text-uppercase inline">Select report</label>
        </div>
        <div class="large-9 columns">
          <%= select_tag :report, options_for_select(Constants::REPORT_TYPES) %>
        </div>
        <div class="large-12 columns">
          <%= submit_tag "Select", class: 'button' %>
          <%= link_to('Create new peer group', groups_path) %>
        </div>
      </div>
    <% end %>
  </div>
</div>