<h1 class="title">Executive compensation</h1>
<hr>
<div class="span9">
  <%= form_tag(search_result_path, class: "main-form custom" ) do %>
    <div class="form-container relative" id="forms-container">      
      <div class="basic-group hidden">
        <div class="role-selector row">
          <div class="large-6 columns">
            <label>Role</label>
            <%= select_tag '[role_form][role]', options_from_collection_for_select(@primary_roles, "name", "name"), {include_blank: true} %>
          </div>
          <div class="large-6 columns">
            <label>Pay rank</label>
            <%= select_tag '[role_form][pay_rank]', options_for_select((1..5)), {include_blank: true} %>
          </div>
        </div>
        <div class="filters">

          <!-- cash compensation -->
          <div class="row">
            <div class="large-12 columns">
              <label>cash compensation</label>
            </div>
            <div class="large-4 columns">
              <%= select_tag '[role_form][cash_comp][type]', options_from_collection_for_select(@cash_comp_values, "field", "value"), {include_blank: true} %>
            </div>
            <div class="large-4 columns">
              <input type="text" placeholder="Greater than ($)" name='[role_form][cash_comp][gt]'>
            </div>
            <div class="large-4 columns">
              <input type="text" placeholder="Less than ($)" name='[role_form][cash_comp][lt]'>
            </div>
          </div>

          <!-- equity compensation -->
          <div class="row">
            <div class="large-12 columns">
              <label>equity compensation</label>
            </div>
            <div class="large-4 columns">
              <%= select_tag '[role_form][eq_comp][type]', options_from_collection_for_select(@eq_comp_values, "field", "value"), {include_blank: true} %>
            </div>
            <div class="large-4 columns">
              <input type="text" placeholder="Greater than ($)" name='[role_form][eq_comp][gt]'>
            </div>
            <div class="large-4 columns">
              <input type="text" placeholder="Less than ($)" name='[role_form][eq_comp][lt]'>
            </div>
          </div>
          
          <!-- CEO tenure -->
          <div class="row">
            <div class="large-12 columns">
              <label>CEO tenure</label>
            </div>
            <div class="large-6 columns">
              <input type="text" name='[role_form][ceo_tenure][gt]' placeholder="Greater than (yrs)">
            </div>
            <div class="large-6 columns">
              <input type="text" name='[role_form][ceo_tenure][lt]' placeholder="Less than (yrs)">
            </div>
          </div>

          <hr>

          <!-- other criteria -->
          <div class="row padding-bottom-10">
            <!-- compensation arrangements -->
            <div class="large-3 columns">
              <span>Compensation arrangements</span>
            </div>
            <div class="large-9 columns">
              <label class="radio-button" for="radio1">
                <%= radio_button_tag 'comp_arrang', 'Yes' %>
                <span class="custom radio"></span> YES
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag 'comp_arrang', 'No' %>
                <span class="custom radio"></span> NO
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag 'comp_arrang', 'N/A' %>
                <span class="custom radio"></span> N/A
              </label>
            </div>
          </div>

          <!-- reload options -->
          <div class="row padding-bottom-10">
            <div class="large-3 columns">
              <span>Reload options</span>
            </div>
            <div class="large-9 columns">
              <label class="radio-button" for="radio1">
                <%= radio_button_tag 'reload_opt', 'Yes' %>
                <span class="custom radio"></span> YES
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag 'reload_opt', 'No' %>
                <span class="custom radio"></span> NO
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag 'reload_opt', 'N/A' %>
                <span class="custom radio"></span> N/A
              </label>
            </div>
          </div>

          <!-- Founder -->
          <div class="row padding-bottom-10">
            <div class="large-3 columns">
              <span>Founder</span>
            </div>
            <div class="large-9 columns">
              <label class="radio-button" for="radio1">
                <%= radio_button_tag '[role_form][founder]', 'Yes' %>
                <span class="custom radio"></span> YES
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag '[role_form][founder]', 'No' %>
                <span class="custom radio"></span> NO
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag '[role_form][founder]', 'N/A' %>
                <span class="custom radio"></span> N/A
              </label>
            </div>
          </div>

          <!-- transition period -->
          <div class="row">
            <div class="large-3 columns">
              <span>Transition period</span>
            </div>
            <div class="large-9 columns">
              <label class="radio-button" for="radio1">
                <%= radio_button_tag '[role_form][trans_period]', 'Yes' %>
                <span class="custom radio"></span> YES
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag '[role_form][trans_period]', 'No' %>
                <span class="custom radio"></span> NO
              </label>
              <label class="radio-button" for="radio1">
                <%= radio_button_tag '[role_form][trans_period]', 'N/A' %>
                <span class="custom radio"></span> N/A
              </label>
            </div>  
          </div>

          <!-- add another role button -->
          <a class="button secondary cto absolute" href="#" id="js-new-form">Add another role</a>

          </div>

        </div>

      </div>
    </div>

    <div class="hidden">
      <label for="radio1"><input name="radio1" type="radio" id="radio1" disabled style="display:none;"><span class="custom radio"></span> Radio Button 3</label>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn">Search</button>
    </div>
  <% end %>
</div>
