<div class="span3">
  <%= render 'search/quick_launch', groups: @groups %>
</div>

<!-- main form -->
<div class="span9">
  <%= form_tag(search_results_path, class: "main-form" ) do %>
    <div class="legend relative">
      Executive compensation
      <a class="cto absolute" href="#" id="js-new-form">Add another role</a>
    </div>
    <div class="form-container" id="forms-container">      
      <div class="basic-group hidden">
        <div class="role-selector">
          <label>ROLE *</label>
          <%= select_tag :role, options_for_select(Constants::ROLES) %>
          <label>PAY RANK</label>
          <%= select_tag :pay_rank, options_for_select(Constants::ROLES) %>
        </div>
        <div class="filters">
          <!-- cash compensation -->
          <div class="item-form">
            <p class="label">cash compensation</p>
            <%= select_tag :cash_comp, options_for_select(Constants::CRITERIA) %>
            <input type="text" placeholder="Greater than ($)">
            <input type="text" placeholder="Less than ($)">
          </div>
          <!-- equity compensation -->
          <div class="item-form">      
            <p class="label">equity compensation</p>
            <%= select_tag :eq_comp, options_for_select(Constants::CRITERIA) %>          
            <input type="text" placeholder="Greater than ($)">
            <input type="text" placeholder="Less than ($)">
          </div>
          
          <!-- incentive plan compensation -->
          <div class="item-form">
            <p class="label">incentive plan compensation</p>
            <%= select_tag :incent_comp, options_for_select(Constants::CRITERIA) %>
            <input type="text" placeholder="Greater than ($)">
            <input type="text" placeholder="Less than ($)">
          </div>
          <!-- equity holdings -->
          <div class="item-form">
            <p class="label">equity holdings</p>
            <%= select_tag :eq_holdings, options_for_select(Constants::CRITERIA) %>
            <input type="text" placeholder="Greater than ($)">
            <input type="text" placeholder="Less than ($)">
          </div>
          <!-- compensation arrangements -->
          <div class="item-form">      
            <p>Compensation arrangements</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'comp_arrang', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'comp_arrang', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'comp_arrang', 'N/A' %>
          </div>
          <!-- reload options -->
          <div class="item-form">
            <p>Reload options</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'reload_opt', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'reload_opt', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'reload_opt', 'N/A' %>
          </div>
          <!-- CEO tenure -->
          <div class="item-form">
            <p class="label">CEO tenure</p>
            <input type="text" name='[ceo][$gt]' placeholder="Greater than (yrs)">
            <input type="text" name='[ceo][$lt]' placeholder="Less than (yrs)">
          </div>
          <!-- other criteria -->
          <div class="item-form">
            <p class="label">other criteria</p>
            <!-- Founder -->
            <p>Founder</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'founder', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'founder', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'founder', 'N/A' %>

            <!-- Director -->
            <p>Director</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'director', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'director', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'director', 'N/A' %>

            <!-- New hire -->
            <p>New hire</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'new_hire', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'new_hire', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'new_hire', 'N/A' %>

            <!-- transition period -->
            <p>Transition period</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'trans_period', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'trans_period', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'trans_period', 'N/A' %>
          </div>
        </div>
      </div>

    </div>

    <div class="legend relative" id="advanced-search">
      Advanced search 
      <i class="icon-sort-down cto absolute"></i>
    </div>

    <!-- advanced search -->
    <div class="advanced-search hidden">
      <!-- general criteria -->
      <div class="general-criteria">
        <h4>GENERAL CRITERIA</h4>
        <p>COMPANY</p>
        <div class="item-form">
          <p class="label">reload options</p>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <span>help</span>
        </div>
        <div class="item-form">      
          <p class="label">Add more tickers</p>
          <input type="text" placeholder="Add tickers">
          <span>help</span>
        </div>
        <p>INDUSTRY</p>
        <div class="item-form">
          <p class="label">Sectors</p>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <span>help</span>
        </div>
        <div class="item-form">      
          <p class="label">SIC Codes</p>
          <input type="text" placeholder="Add tickers">
          <span>view sic codes</span>
        </div>
        <p>PROXY FILLING DATE</p>
        <div class="item-form">
          <p class="label">Between</p>
          <%= select_tag :report, options_for_select(["Month", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Day", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Year", "No", "N/A"]) %>
        </div>
        <div class="item-form">
          <p class="label">And</p>
          <%= select_tag :report, options_for_select(["Month", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Day", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Year", "No", "N/A"]) %>
        </div>
      </div>
      <!-- financials -->
      <h4>FINANCIALS</h4>
      <div class="general-criteria">
        <div class="item-form">
          <p class="label">income statement</p>
          <%= select_tag :report, options_for_select(Constants::CRITERIA) %>
          <input type="text" placeholder="Greater than ($)">
          <input type="text" placeholder="Less than ($)">
        </div>
      </div>
      <div class="item-form">
          <p class="label">Valuation</p>
          <%= select_tag :report, options_for_select(Constants::CRITERIA) %>
          <input type="text" placeholder="Greater than ($)">
          <input type="text" placeholder="Less than ($)">
      </div>
      <div class="item-form">
          <p class="label">stock price performance</p>
          <%= select_tag :report, options_for_select(Constants::CRITERIA) %>
          <input type="text" placeholder="Greater than ($)">
          <input type="text" placeholder="Less than ($)">
        </div>
      <div class="item-form">
          <p class="label">profitability</p>
          <%= select_tag :report, options_for_select(Constants::CRITERIA) %>
          <input type="text" placeholder="Greater than ($)">
          <input type="text" placeholder="Less than ($)">
        </div>
    </div>
    <button type="submit" class="btn right">Search</button>
  <% end %>
</div>