<div class="span9">
  <%= form_tag(search_results_path, class: "main-form" ) do %>
  <fieldset>
  <legend class="legend">Executive compensation</legend>
    <div class="form-container" id="forms-container">      
      <div class="basic-group hidden">
        <div class="role-selector">

          <div class="item-form">
            <label class="label">Role</label>
            <%= select_tag '[role_form][role]', options_from_collection_for_select(@roles, "id", "name"), {include_blank: true} %>
          </div>

          <div class="item-form">
            <label class="label">Pay rank</label>
            <%= select_tag '[role_form][pay_rank]', options_for_select((1..5)), {include_blank: true} %>
          </div>

        </div>
        <div class="filters">
          <!-- cash compensation -->
          <div class="item-form">
            <p class="label">cash compensation</p>
            <%= select_tag '[role_form][cash_comp][type]', options_from_collection_for_select(@cash_comp_values, "field", "value"), {include_blank: true} %>
            <input type="text" placeholder="Greater than ($)" name='[role_form][cash_comp][gt]'>
            <input type="text" placeholder="Less than ($)" name='[role_form][cash_comp][lt]'>
          </div>
          <!-- equity compensation -->
          <div class="item-form">      
            <p class="label">equity compensation</p>
            <%= select_tag '[role_form][eq_comp][type]', options_from_collection_for_select(@eq_comp_values, "field", "value"), {include_blank: true} %>
            <input type="text" placeholder="Greater than ($)" name='[role_form][eq_comp][gt]'>
            <input type="text" placeholder="Less than ($)" name='[role_form][eq_comp][gt]'>
          </div>
          
          <!-- compensation arrangements -->
          <div class="item-form">      
            <p class="label">Compensation arrangements</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'comp_arrang', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'comp_arrang', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'comp_arrang', 'N/A' %>
          </div>
          <!-- reload options -->
          <div class="item-form">
            <p class="label">Reload options</p>
            <%= label_tag 'Yes' %> <%= radio_button_tag 'reload_opt', 'Yes' %>
            <%= label_tag 'No' %> <%= radio_button_tag 'reload_opt', 'No' %>
            <%= label_tag 'N/A' %> <%= radio_button_tag 'reload_opt', 'N/A' %>
          </div>
          <!-- CEO tenure -->
          <div class="item-form">
            <p class="label">CEO tenure</p>
            <input type="text" name='[role_form][ceo_tenure][gt]' placeholder="Greater than (yrs)">
            <input type="text" name='[role_form][ceo_tenure][lt]' placeholder="Less than (yrs)">
          </div>
          <!-- other criteria -->
          <p class="subtitle">other criteria</p>
          <div class="item-form">  
            <!-- Founder -->
            <div class="item-form">
              <p class="label">Founder</p>
              <%= label_tag 'Yes' %> <%= radio_button_tag 'founder', 'Yes' %>
              <%= label_tag 'No' %> <%= radio_button_tag 'founder', 'No' %>
              <%= label_tag 'N/A' %> <%= radio_button_tag 'founder', 'N/A' %>
            </div>

            <!-- transition period -->
            <div class="item-form">
              <p class="label">Transition period</p>
              <%= label_tag 'Yes' %> <%= radio_button_tag 'trans_period', 'Yes' %>
              <%= label_tag 'No' %> <%= radio_button_tag 'trans_period', 'No' %>
              <%= label_tag 'N/A' %> <%= radio_button_tag 'trans_period', 'N/A' %>
            </div>
          </div>
        </div>
      </div>

    </div>
    </fieldset>
    <a class="cto" href="#" id="js-new-form">Add another role</a>

    <!-- advanced search -->
    <!-- <div class="advanced-search hidden"> -->
    <div class="advanced-search">
      <!-- general criteria -->
      <fieldset>
      <!--
      <div class="general-criteria">
        <legend class="legend">Advanced Search</legend>
        <p class="subtitle">COMPANY</p>
        <div class="item-form">
          <p class="label">reload options</p>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <span>help</span>
        </div>
        <div class="item-form">      
          <p class="label">Add more tickers</p>
          <input type="text" placeholder="Add tickers">
          <span>help</span>
        </div>
        <p class="subtitle">INDUSTRY</p>
        <div class="item-form">
          <p class="label">Sectors</p>
          <%= select_tag :report, options_for_select(["Yes", "No", "N/A"]) %>
          <span>help</span>
        </div>
        <div class="item-form">      
          <p class="label">SIC Codes</p>
          <input type="text" placeholder="Add tickers">
          <span>view sic codes</span>
        </div>
        <p class="subtitle">PROXY FILLING DATE</p>
        <div class="item-form">
          <p class="label">Between</p>
          <%= select_tag :report, options_for_select(["Month", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Day", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Year", "No", "N/A"]) %>
        </div>
        <div class="item-form">
          <p class="label">And</p>
          <%= select_tag :report, options_for_select(["Month", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Day", "No", "N/A"]) %>
          <%= select_tag :report, options_for_select(["Year", "No", "N/A"]) %>
        </div>
      </div>
      -->
      <!-- financials -->
      <legend class="legend">Advanced Search</legend>
      <div class="general-criteria">
        <p class="subtitle">Income Statement</p>
        <div class="item-form">
          <p class="label">Revenue</p>
        <%= check_box_tag 'income_statement_revenue_chk', 'Revenue' %>
          <input type="text" name='[income_statement][revenue][gt]' placeholder="Greater than" disabled="disabled"> <span>$ MMs</span>
          <input type="text" name='[income_statement][revenue][lt]' placeholder="Lower than" disabled="disabled"> <span>$ MMs</span>
        </div>
        <div class="item-form">
          <p class="label">Net Income</p>
          <%= check_box_tag 'income_statement_net_income_chk', 'Net Income' %>
          <input type="text" placeholder="Greater than" disabled="disabled"> <span>$ MMs</span>
          <input type="text" placeholder="Lower than" disabled="disabled"> <span>$ MMs</span>
        </div>
      </div>

      <div class="general-criteria">
        <p class="subtitle">Valuations</p>
        <div class="item-form">
          <p class="label">Market Cap</p>
          <%= check_box_tag 'valuations[]', 'Market Cap' %>
          <input type="text" placeholder="Greater than" disabled="disabled"> <span>$ MMs</span>
          <input type="text" placeholder="Lower than" disabled="disabled"> <span>$ MMs</span>
        </div>
        <div class="item-form">
          <p class="label">Price to Earning (P/E)</p>
          <%= check_box_tag 'valuations[]', 'Price to Earning (P/E)' %>
          <input type="text" placeholder="Greater than" disabled="disabled"> <span>$ MMs</span>
          <input type="text" placeholder="Lower than" disabled="disabled"> <span>$ MMs</span>    
        </div>
      </div>

      <div class="general-criteria">
        <p class="subtitle">Stock Price Performance</p>
        <div class="item-form">
          <p class="label">Earnings per Share (EPS)</p>
          <%= check_box_tag 'stock_price_performance', 'Earnings per Share (EPS)' %>
          <input type="text" placeholder="Greater than" disabled="disabled"> <span>%</span>
          <input type="text" placeholder="Lower than" disabled="disabled"> <span>%</span>   
        </div>
      </div>

      <div class="general-criteria">
        <p class="subtitle">Profitability</p>
        <div class="item-form">
          <p class="label">Return on Equity</p>
          <%= check_box_tag 'profitability', 'Return on Equity' %>
          <input type="text" placeholder="Greater than" disabled="disabled"> <span>%</span>
          <input type="text" placeholder="Lower than" disabled="disabled"> <span>%</span>         
        </div>
      </div>
    </fieldset>

    </div>
    <div class="form-actions">
      <button type="submit" class="btn">Search</button>
      <a href="#" id="advanced-search-button">Advanced search</a>
    </div>
  <% end %>
</div>