<div class="row">
  <div class="large-12 columns">
    <h1><%= @search.report_type %></h1>
    <hr>
    <%= @search.user.email %><br/>
    <%= @search.company %><br/>
    <%= @search.created_at.strftime("%Y-%m-%d at %H:%M") %><br/>  
    <hr>  
    <h3>Tickers</h3>
    <% @search.tickers.split(";").each do |s| %>
      <h5><%= s %></h5>
    <% end %>
    <hr>
    <% if @search.peers %>
      <h3>Peers</h3>
      <% @search.peers.split(";").each do |s| %>
        <h5><%= s %></h5>
      <% end %>
      <hr>
    <% end %>
        
    <%= link_to "Back", quick_search_path %>
  </div>  
</div>