<div class="span9">
  <h1>Executive compensation</h1>
  <hr>
  <%= form_tag(search_result_path, class: "main-form " ) do %>
    <div class="form-container relative" id="forms-container">      
      
    <% @params_hash.each_with_index { |(k, value), i|%>
    <% if k.starts_with? 'role_form' %>
        <div class="basic-group">
          <div class="role-selector row">

            <div class="large-6 columns">
              <label>Role</label>
              <%= select_tag "[role_form_#{i + 1}[role]",
                options_from_collection_for_select(@primary_roles, "name", "name", @params_hash[k].try(:[], "role")), {include_blank: true} %>
            </div>
            
            <div class="large-6 columns">
              <label>Pay rank</label>
              <%= select_tag "[role_form_#{i + 1}][pay_rank]", options_for_select((1..5), @params_hash[k].try(:[], "pay_rank")), {include_blank: true} %>
            </div>
          </div>

          <div class="filters">
            <!-- cash compensation -->
            <div class="row">
              <div class="large-12 columns">
                <label>cash compensation</label>
              </div>
              <div class="large-4 columns">
              <%= select_tag "[role_form_#{i + 1}][cash_comp][type]",
                options_from_collection_for_select(@cash_comp_values, "field", "value",
                @params_hash[k].try(:[], "cash_comp").try(:[], "type")), {include_blank: true} %>
              </div>
              <div  class="large-4 columns">
              <%= text_field_tag "[role_form_#{i + 1}][cash_comp][gt]", @params_hash[k].try(:[], "cash_comp").try(:[], "gt"), placeholder: "Greater than ($)" %>
              </div>
              <div class="large-4 columns">
              <%= text_field_tag "[role_form_#{i + 1}][cash_comp][lt]", @params_hash[k].try(:[], "cash_comp").try(:[], "lt"), placeholder: "Less than ($)" %>
              </div>
            </div>

            <!-- equity compensation -->
            <div class="row">
              <div class="large-12 columns">
                <label>equity compensation</label>
              </div>
              <div class="large-4 columns">
                <%= select_tag "[role_form_#{i + 1}][eq_comp][type]",
                options_from_collection_for_select(@eq_comp_values, "field", "value",
                @params_hash[k].try(:[], "eq_comp").try(:[], "type")), {include_blank: true} %>
              </div>
              <div class="large-4 columns">
                <%= text_field_tag "[role_form_#{i + 1}][eq_comp][gt]", @params_hash[k].try(:[], "eq_comp").try(:[], "gt"), placeholder: "Greater than ($)" %>
              </div>
              <div class="large-4 columns">
                <%= text_field_tag "[role_form_#{i + 1}][eq_comp][lt]", @params_hash[k].try(:[], "eq_comp").try(:[], "lt"), placeholder: "Less than ($)" %>
              </div>
            </div>
          
          <!-- CEO tenure -->
          <div class="row">
            <div class="large-12 columns">
              <label>CEO tenure</label>
            </div>
            <div class="large-6 columns">
              <%= text_field_tag "[role_form_#{i + 1}][ceo_tenure][gt]", @params_hash[k].try(:[], "ceo_tenure").try(:[], "gt"), placeholder: "Greater than (yrs)" %>
            </div>
            <div class="large-6 columns">
              <%= text_field_tag "[role_form_#{i + 1}][ceo_tenure][lt]", @params_hash[k].try(:[], "ceo_tenure").try(:[], "gt"), placeholder: "Less than (yrs)" %>
            </div>
          </div>

          <hr>
          
          <!-- other criteria -->
          <div class="row padding-bottom-10">
            <!-- Founder -->
            <div class="large-3 columns">
              <span>Founder</span>
            </div>
            <div class="large-9 columns radio-button">
              <%= label_tag 'Yes' %> <%= radio_button_tag "[role_form_#{i + 1}][founder]", 'Yes', @params_hash[k].try(:[], "founder") == "Yes" %>
              <%= label_tag 'No' %> <%= radio_button_tag "[role_form_#{i + 1}][founder]", 'No', @params_hash[k].try(:[], "founder") == "No" %>
              <%= label_tag 'N/A' %> <%= radio_button_tag "[role_form_#{i + 1}][founder]", 'N/A', @params_hash[k].try(:[], "founder") == "N/A" %>
            </div>

            <!-- transition period -->
              <div class="large-3 columns">
                <span>Transition period</span>
              </div>
              <div class="large-9 columns radio-button">
                <%= label_tag 'Yes' %> <%= radio_button_tag "[role_form_#{i + 1}][trans_period]", 'Yes', @params_hash[k].try(:[], "trans_period") == "Yes" %>
              
                <%= label_tag 'No' %> <%= radio_button_tag "[role_form_#{i + 1}][trans_period]", 'No', @params_hash[k].try(:[], "trans_period") == "No" %>
                <%= label_tag 'N/A' %> <%= radio_button_tag "[role_form_#{i + 1}][trans_period]", 'N/A', @params_hash[k].try(:[], "trans_period") == "N/A" %>
              </div>
            
          </div>
        </div>
      </div>
    <% end %>
    <% } %>

    <div class="hidden">
      <label for="radio1"><input name="radio1" type="radio" id="radio1" disabled style="display:none;"><span class="custom radio"></span> Radio Button 3</label>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn">Search</button>
    </div>

  <% end %>
</div>