<%= form_for(@user, html: {class: "custom"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="form-error cf">
      <h2 class="left"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="left">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.select(:role, options_for_select(User::ROLES, @user.role)) %>
    <%= f.select(:company, options_from_collection_for_select(Company.all, :id, :name, @user.company.try(:id))) %> 
    <%= link_to 'new company', new_company_path, class: "button tiny secondary" %>
    <%= f.email_field :email, placeholder: "email" %>
    <%= f.submit class: "button success postfix" %>
<% end %>
