<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.select(:role, options_for_select(User::ROLES)) %>
  <div id="company_fields">
     <%= f.select(:company, options_from_collection_for_select(Company.all, :id, :name)) %> <%= link_to 'new company', new_company_path %>
  </div>
  
  <%= f.email_field :email %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
