<div class="row">
  <div class="large-12 columns">
    <h1 class="main-title">Users</h1>
    <hr>
  </div>
  <div class="large-3 columns">
    <%= render 'form' %>
  </div>
  <div class="large-9 columns">
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Company</th>
          <th>Role</th>
          <th class="icon-column text-center">Edit</th>
          <th class="icon-column text-center">Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.company.try(:name) %></td>
            <td><%= user.role %></td>
            <td class="icon-column text-center"><%= link_to "Edit", edit_user_path(user), class: 'btn-icon' %></td>
            <td class="icon-column text-center"><%= link_to "Delete", user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-icon' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @users %>
